/* colors:
grey: #ccd1d9
dark grey: #666666

*/

.experience {
  padding: 0.7rem;
}

.experience-warpper {
  position: relative;
  padding: 3.125rem;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: #f9ab00;
}

.experience-warpper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background-color: #ccd1d9;
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid rgb(52, 58, 64);
  background: #f9ab00;
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: rgb(52, 58, 64);
  direction: ltr;
}

.timeline-content {
  margin-top: 0.3125rem;
  color: #e22215;
  font-weight: 900;
}

@media (max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }

  .experience-warpper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    width: 100%;
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}
