#about {
  max-width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
}

.about_container {
  padding: 2em 0 6em 0;
}

.photo-warp {
  position: absolute;
  right: 10em;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.animation_container {
  width: 15%;
}

.about-heading {
  color: #f9ab00;
  text-transform: uppercase;
}

@media (max-width: 468px) {
  .profile-img {
    width: 10rem !important;
    height: 10rem !important;
  }
}
